#texto1{
    background-color: black;
    color: aliceblue;
    border-radius: 10px;
    margin: 30px;
}

#texto2{
    background-color: black;
    color: aliceblue;
    margin: 30px;
    height: 100px;
    overflow: auto
}