body {
    background-color: rgb(139, 139, 140);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#telaAzul{
    background-color: blue;
    float: left;
    position: absolute;
    width: 70vw;
    height: 90vh;   
}

#telaVermelha{
    background-color: rgb(238, 6, 6);
    float: left;
    position: absolute;
    width: 50vw;
    height: 70vh;
}

#telaPreta{
    background-color: rgb(1, 1, 1);
    float: left;
    position: absolute;
    width: 30vw;
    height: 50vh;
}

#telaVerde{
    background-color: rgb(0, 255, 47);
    float: left;
    position: absolute;
    width: 15vw;
    height: 30vh;
}

#telaAmarelo{
    background-color: rgb(248, 255, 39);
    float: left;
    position: absolute;
    width: 7vw;
    height: 15vh;   
}